@charset "ISO-8859-1";
.raise:focus,.raise:hover{box-shadow:0 .5em .5em -.4em var(--hover);-webkit-transform:translateY(-.25em);transform:translateY(-.25em)}
.raise{--color:#000;--hover:#009999}
input{color:var(--color);transition:.25s}
input:focus,input:hover{border-color:var(--hover);color:#000}
input{border:1px solid;font:inherit;line-height:1;margin:.2em;padding:0.5em 1.2em}

body {
  background-image: url("../images/fondo.png");
  background-position: 50% 50%;
}
